@charset "UTF-8";
<link href ="https: //fonts.googleapis.com /css2?family=Do+Hyeon&display=swap" rel ="stylesheet">

.columns {
	column-count: 4;
	font-family: 'Do Hyeon', sans-serif;
	font-weight: bold;
	border-top: 1px solid #c3c3c3;
	margin-bottom:70px;
	
}
.columns {
	column-count: 4;
	font-family: 'Do Hyeon', sans-serif;
	font-weight: bold;
	border-top: 1px solid #c3c3c3;
	margin-bottom:70px;
}
.columns Figure {
	display: inline-block;
	font-family: 'Do Hyeon', sans-serif;
	font-weight: bold;
	font-size: 15px;
	margin: 0px;
}

.columns Figure .img {
	padding: 10px;
	width: 300px;
	height: 330px;
	
}

#img {
	width: 550px;
	height: 550px;
}

#product {
	font-weight: bold;
	font-size: 20px;
	font-family: monospace;
}

#product1 {
	font-weight: bold;
	font-size: 20px;
	font-family: 'Do Hyeon', sans-serif;
}
