@charset "UTF-8";

.tablefooter {
	background-color: #fafafa;
	color: black;
	align-content: center;
	font-family: sans-serif;
	padding: 0px 88px 0px 0px;
	width: 100%;
}

.footermenu {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.footerlogo img {
	position: relative;
	left: 76px;
	top: 32px;
	width: 350px;
	height: 104px;
	top: 32px;
}

.div01 {
	position: relative;
	top: -30px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 60px 0px 0px;
}

.div02 {
	position: relative;
	top: 30px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 60px 0px 0px;
}

.div03 {
	position: relative;
	top: 0px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 60px 0px 0px;
}

.div04 {
	position: relative;
	top: -8px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 60px 0px 0px;
}

.div05 {
	position: relative;
	top: -55px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 60px 0px 0px;
}

.div06 {
	position: relative;
	top: -30px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 60px 0px 0px;
}

.socialimg {
	position: relative;
	top: 7px;
	width: 39px;
	height: 31px;
}