@charset "UTF-8";
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
*{
	margin:0;
	padding:0;
}
body{
	background:rgba(0,0,0,0.5);
}
.main-reg {
    background-color: #FAFAFA;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
}
.main-reg .form-heading{
	font-family: 'Nanum Gothic', sans-serif;
	float:top;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	padding:5px 0px;
	background-color: #fafafa;
}

.form-reg{
	justify-content: center;
	width: 100%;
	display:flex;
}

.form-group{
	margin: 10px 0px;
	justify-content:center;
}
.form-label{
	font-family: 'Nanum Gothic', sans-serif;
	font-size:20px;
    width: 100%;
    max-width: 150px;
    min-width: 150px;
    padding: 10px 0px;
}
.form-input input{
	padding: 10px 5px;
	border-radius: 4px;
	border:none;
	outline:none;
	width:250px;
	color:black;
}

.form-input select{
	width: 250px;
   	border-radius: 4px;
    border: none;
    padding: 10px 5px;
}
.form-group textarea{
	height: 40px;
	width:250px;
	resize: none;
	padding:10px 5px;
	border-radius: 4px;
}
.form-group{
	display: flex;
}

.radio-label{
	display: flex;
}
.form-radio{
	color:#ffffff;
	padding: 10px 0px;
	width:262px;
}
.form-radio input[type="radio"]{
	padding: 0px 5px;
    display: inline;
    
    margin: 0px 2px;

}

.form-reg form{
	margin-top: 20px;
	width:100%;
}
.bottom-footer{
	border-top: 1px solid #847E78;
	text-align: center;
    padding: 10px 0px;
}
.btn {
    color: white;
    background-color: #ccc;
        width: 130px;
    
}

.btn:hover{
	background:#d99f9d;
}