<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql">
	<!-- login은 loginDTO, board는 boardDTO사용 mybatis-config.xml에 등록해둠-->
	<!-- 예1) -->
<!-- 	<select id="listAll" resultType="loginDTO">
		select * from login
	</select>
	예2)
	<select id="boardListAll" resultType="boardDTO">
		select * from board
	</select> -->
	<select id="qnaListAll" resultType="QnaDTO">
		select * from qna
	</select>
	<insert id="qnasavedata" parameterType="QnaDTO">	
		insert into qna(id,title,name,content,idgroup)
			values(qna_seq.nextval,#{title},#{name},#{content},qna_seq.currval)
	</insert>
	<select id="qnadetail" resultType="QnaDTO">
		select * from qna where id=#{id}
	</select>
	<update id="qnaupdate" parameterType="QnaDTO">
		update qna set name=#{name}, title=#{title}, content=#{content} where id=#{id}
	</update>
	<delete id="qnadelete" parameterType="QnaDTO">
		delete from qna where id=#{id}
	</delete>
</mapper>